#pomodoro-web  {
    margin: 0px;
    padding: 0px;
}
#nombre-aplicacion {
    display: block;
}
#nombre-aplicacion > h1 {
    font: bold normal 36px Helvetica;
    border-bottom-style : solid;
}
#pomodoro {
    display:block;
    text-align: center;
    margin:auto;
}