*  {
    margin: 0px;
    padding: 0px;
}
body  {
    background-color: rgb(31 102 34);
}
#nombre-aplicacion {
    background-color: rgb(31 102 34);
    display: block;
}
#nombre-aplicacion > h1 {
    text-align: center;
    font: bold normal 36px Helvetica;
    width: 69%;
    margin: auto;
    color: rgb(197 250 200);
    padding: 0.8% 0.8%;
    border-bottom-style : solid;
}
#pomodoro {
    text-align: center;
    display: block;
    width: 36%;
    height: 36%;
    margin: auto;
}
#temporizador {
    background-color: rgb(90 167 94);
    margin: 12%;
    padding: 12%;
    border: solid 8px rgb(197 250 200);
    border-radius: 12px;
}
#temporizacion {
    font: bold normal 69px Helvetica;
    color: rgb(28 50 100);
}
#controles > button {
    font-size: 23px;
    background: rgb(180 193 225);
    padding: 9px;
    color: rgb(28 50 100);
    border: solid 1.75px rgb(77 97 143);
    border-radius: 12px;
}
#contacto {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    text-align: center;
    font: bold italic 12px Helvetica;
    color: rgb(197 250 200);
}
#contacto > #autor > a {
    color: rgb(90 167 94);
}