*  {
    margin: 0px;
    padding: 0px;
}
body  {
    background-color: rgb(31 102 34);
}
#nombre-aplicacion {
    background-color: rgb(31 102 34);
    display: block;
}
#nombre-aplicacion > h1 {
    text-align: center;
    font: bold normal 36px Helvetica;
    width: 69%;
    margin: auto;
    color: rgb(121 202 124);
    padding: 0.8%;
    border-bottom-style : solid;
}
#aplicaciones {
    width: 50%;
    height: 50%;
    margin: auto;
}
#aplicaciones > #menu-aplicaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#aplicaciones > #menu-aplicaciones > button {
    margin-top: 2.4%;
    font: bold normal 16px Helvetica;
    color: rgb(121 202 124);
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: rgb(91 152 94);
    padding: 0.6%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    flex: 0;
}
#aplicaciones > #menu-aplicaciones > button:active {
    margin-top: 2.4%;
    font: bold normal 16px Helvetica;
    color: rgb(121 202 124);
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: rgb(31 102 34);
    padding: 0.6%;
    flex: 0;
}
#configuracion-aplicacion {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 1.6%;
    padding: 1.6%;
    border: solid 1.75px rgb(121 202 124);
    border-radius: 8px;
    background-color: rgb(91 152 94);
}
#configuracion-aplicacion > .entradas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}
#configuracion-aplicacion > .entradas > label {
    font: bold italic 13px Helvetica;
    text-decoration: underline;
    color: rgb(31 102 34);
    text-align: left;
    margin-top: 2%;
}
#configuracion-aplicacion > .entradas > input {
    background-color: rgb(121 202 124);
    font: bold normal 13px Helvetica;
    text-align: center;
    color: rgb(31 102 34);
    margin-top: 2%;
    max-width: 19%;
    min-width: 19%;
    border-top: solid 1.75px rgb(31 102 34);
    border-left: solid 1.75px rgb(31 102 34);
    border-right: solid 1.75px rgb(121 202 124);
    border-bottom: solid 1.75px rgb(121 202 124);
}
#configuracion-aplicacion > .entradas > input:focus {
    background-color: rgb(91 152 94);
    font: bold normal 13px Helvetica;
    text-align: center;
    color: rgb(31 102 34);
    margin-top: 2%;
    max-width: 19%;
    min-width: 19%;
}
#estadisticas {
    margin: 2.8%;
}
#registro, #registro > tr, th {
    border: solid 1.75px rgb(121 202 124);
    border-collapse: collapse;
    background-color: rgb(31 102 34);
    color: rgb(91 152 94);
    font: bold italic 16px Helvetica; 
    text-align: center;
    margin: auto;
    padding: 3px;
}
#pomodoro {
    text-align: center;
    display: block;
    width: 30%;
    height: 36%;
    margin: auto;
}
#temporizador {
    background-color: rgb(91 152 94);
    margin: 6%;
    padding: 12%;
    border: solid 8px rgb(121 202 124);
    border-radius: 12px;
}
#temporizacion {
    font: bold normal 69px Helvetica;
    color: rgb(31 34 102);
}
#controles > button {
    font-size: 80%;
    background: rgb(121 124 202);
    padding: 4%;
    margin: 2% 0;
    font-weight: bold;
    color: rgb(31 34 102);
    border: solid 1.75px rgb(91 94 152);
    border-radius: 12px;
}
#controles > button:active {
    font-size: 80%;
    background: rgb(91 94 152);
    padding: 4%;
    margin: 2% 0;
    font-weight: bold;
    color: rgb(31 34 102);
    border: solid 1.75px rgb(91 94 152);
    border-radius: 12px;
}
#contador {
    padding-top: 7%;
    margin-top: 3.5%;
}
#contador > span {
    font: bold normal 16px Helvetica;
    color: rgb(31 34 102);
}
#contacto {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    text-align: center;
    font: bold italic 12px Helvetica;
    color: rgb(121 202 124);
}
#contacto > #autor > a {
    color: rgb(91 152 94);
}